{%  extends 'base.html.twig' %}

{% block body %}
    <h1> Bienvenue dans mon blog !</h1>

    <p> Lorem ipsum hdcbdqkld,dbqjsndkqsdjbqjsbjqsnkqsdnkdqskd
    qhdjdqbqkdbfkdqnkndqknsdkbdskndk
    qshsqdbdjqsbkqsbdkbqkbqskqsbkqs</p>
    <p> Lorem ipsum hdcbdqkld,dbqjsndkqsdjbqjsbjqsnkqsdnkdqskd
    qhdjdqbqkdbfkdqnkndqknsdkbdskndk
    qshsqdbdjqsbkqsbdkbqkbqskqsbkqs</p>

{% endblock %}